  .footer {
    /* footer */

    /*
    left: calc(50% - 1440px/2);
    */
    position: static;

    width: 100% ;
    height: 394px;
    bottom: 0px;

    padding: 60px ;
    padding-top: 40px;

    background-color: white !important;
    color: black !important;
  
  }

  .group45 {
    width: 100%;
    height: 272.35px;
    top: 92px;
    left: 100px;
  
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .group32 {
    width: 100%;
    height: 118px;
    top: 92px;
    left: 102px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;

    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .name {
    width: 100%;
    height: 100%;
    top: 92px;
    left: 102px;
    gap: 0px;
    opacity: 0px;

    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;

    display: flex ;
    flex-direction: column; 

  }

.blue {
  color: #0E3A77;
}

  .address {
    width: 60%;
    height: 100%;
    top: 159.1px;
    left: 104.01px;

    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

    color: #9F9F9F;

    display: flex ;
    flex-direction: column; 
  }
  
  .gray {
    width: 40px;
    height: 24px;

    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;

    color: gray;
  }

  .buttonContainer {
    width: 316px;
    height: 92px;
    top: 118px;
    left: 573px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .button {
    background-color: white;
    border: none;
    color: black;
    font-size: 18px;

    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }

  .frame24 {
    width: 316px;
    height: 24px;
    top: 38px;
    left: 562px;

    display: flex;
    flex-direction: row ;
    align-items: center ;
    justify-content: space-between;
  }

  .emailContainer {
    width: 286px;
    height: 77px;
    top: 118px;
    left: 1054px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .emailInput {
    display: flex;
    flex-direction: row;
    width: 286px;
    height: 18.3px;
    top: 176.7px;
    left: 1054px;
    border: 1px 0px 0px 0px;
  }

/* input box */
.form input {
    width: 100%;
    padding: 0px;
    border: 0px;
    border-bottom: 1px solid #000000;
}

.form textarea {
    width: 100%;
    padding: 10px;
    font-family: Roboto, sans-serif;
}

.form button {
    width: 50%;
    padding: 0px;
    
    color: black;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 16;
    text-decoration: underline;
    text-align: center;
}

.group44 {
  width: 100%;
  height: 46.03px;
  top: 318.32px;
  left: 100px;
  border: 1px 0px 0px 0px;
}

.group44text {
  width: 400px;
  height: 18.72px;
  top: 345.63px;
  left: 102.01px;

  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.line4 {
  width: 100%;
  height: 0px;
  top: 318.32px;
  left: 100px;
  border: 1px 0px 0px 0px;
  border: 1px solid #D9D9D9
}

.text {
  width: 322px;
  height: 100%;
  top: 92px;
  left: 102px;
  gap: 0px;
  opacity: 0px;
  display: flex ;
  flex-direction: column; 
}

.newsletter {
  width: 86px;
  height: 18.3px;
  top: 118px;
  left: 1054px;

  font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;

    color: gray;
}

  @media (max-width: 768px) {
    .footer {
        padding: 0;
    }

    .group45{
      width: 100%;
      height: 100%;
      top: 92px;
      left: 100px;
    
      display: flex ;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    
    }
  
    .group32 {
      width: 100%;
      height: 100%;
      top: 92px;
      left: 102px;
      gap: 0px;
      border: 1px 0px 0px 0px;
      opacity: 0px;
  
      display: flex ;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }

    
    .text {
      height: 30%;
    }
    .gray {
      text-align: center;
    }

    .name {
      text-align: center;
    }
  
    .address {
      width: auto;
      text-align: center;
      color: #9F9F9F;
    }

    .buttonContainer {
      height: 30%;
      align-items: center;
      justify-content: space-evenly;
    }

    .emailContainer {
      height: 30%;
      align-items: center;
      justify-content: space-evenly;
      text-align: center;
    }
    
    .emailInput {
      height: auto;
      flex-direction: column;
      align-items: center;
    }
    .form button {
      padding: 10px;
      
  }
  }