  .footer {
    width: 100% !important;
    padding: 60px ;
    padding-top: 40px;
    padding-bottom: 30px ;
    background-color: white !important;
    color: black !important;
  
    display: flex !important;
    flex-direction: column !important;
    align-items: stretch !important;
    justify-content: space-between !important;
    
  
  }
  
  .icon {
    color: rgb(56, 100, 163);
    font-size: large;
    font-weight: bold;
    
  }
  
  .gray {
    color: gray;
  }
  
  .bold {
    font-size: large;
    font-weight: bold;
  }
  
  p {
    margin: 0px;
  }
  