  .header {
    position: static;
    height: 100px;
    width: 100% ;
    padding: 0 2rem ;
    background-color: white ;
    color: black ;
  
    display: flex ;
    flex-direction: row ;
    align-items: center ;
    justify-content: space-between ;
  }

  .logo {
    width:69px ;
    height:72px;
  }
  
  .icon {
    color: #0E3A77;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39.01px;
    text-align: center;
  }

  .button {
    background-color: white;
    border: none;
    color: black;
    font-size: 18px;
    padding: 5%;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }

  .buttonContainer {
    display: flex;
    flex-direction: row ;
    align-items: center ;
    justify-content: space-between;
    width: 316px;
    height: 24px;
    top: 38px;
    left: 562px;
  }

  .topRightContainer {
    display: flex;
    flex-direction: row ;
    align-items: center ;
    justify-content: space-between;
  }

  .cartButton {
    width: 87px;
    height: 30px;
    padding: 6px 30px 6px 30px;
    gap: 10px;
  
    border: 1px solid black;
    background-color: white;
    border-radius: 50px;

    color: black;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    
  }
  /* Rectangle 60*/
  .cartPopout {
    display:flex; 
    flex-direction:column;
    width: 417px;
    min-height: 746px;
    height: flex;
    left: 1023px;
    padding: 10px 40px 10px 40px;
    justify-content: space-between;
  }

  .cartflex {
    width: 100%;
    padding-top: 19px;
    padding-bottom: 19px;
    display:flex; 
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
  }
  /* Group 149 */
  .cartitem {
    width: 347px;
    height: 105px;
    top: 132px;
    left: 1053px;
  }

  .group150 {
    width: 350px;
    height: auto;
    top: 28px;
    left: 1050px;
    border: 1px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
  }

  .subtotal {
    width: 68px;
    height: 24px;
    top: 615px;
    left: 1054px;

    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
  
  .subtotalcount {
    width: 117px;
    height: 24px;
    top: 615px;
    left: 1298px;

    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;

    color: #0E3A77;
  }
  
  .cartButtons {
    margin: auto;
    width: 50%;
    border: 3px;
    padding: 10px;
    text-align: center;
    align-items: center ;
    justify-content: space-between ;

  }

  .shoppingCart {
    width: 177px;
    height: 36px;
    top: 28px;
    left: 1053px;

    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
  }

  .line11 {
    width: 287px;
    height: 0px;
    top: 90px;
    left: 1053px;
    border: 1px 0px 0px 0px;
    border: 1px solid #D9D9D9;
  }

  .line12 {
    width: 417px;
    height: 0px;
    top: 662px;
    left: 1023px;
    border: 1px 0px 0px 0px;
    border: 1px solid #D9D9D9;
  }
  
.frame168 {
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 11.5px;
    left: 44px;
    gap: 10px;
}

.menu{
  display: none;
}

.myLinks ul{
  display: flex;
  flex-wrap: wrap;
  float: right;
  margin: 20 0px;
  padding: 0 25px;
}

.myLinks ul li{
  list-style-type: none;
  padding-right: 10px;
}

.cartContainer {
  width: 817px;
  height: 335px;
  height: auto;
  top: 127px;
  left: 101px;
  z-index: 1;
  overflow-y: auto;
}

.cartScrollable {
  max-height: 600px;
  height: 100%; /* Set a fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.product-card {
  display: none;
  padding: 10px;
  border-bottom: none;
}

  /* Header */

@media (max-width: 768px) {
  .header {
      height: 70px;
      padding: 0;
  }
  .logo {
    width:69px ;
    height:72px;
  }
  .buttonContainer{
    display: none;
  }
  .menu{
    display:block;
  }

}
