/* DesignInspiration.css*/

.design-inspiration {
  width: 100%;
  text-align: center;
}

.wrapper {
  display: flex;
}

.text-section {
  margin-bottom: 20px;
}

.section-title { 
  width: 300px;
  height: 87px;
  margin: 0 auto; /* Automatically center */
  padding: 0px;
}

.section-description {
  
  width: 300px;
  margin: 0 auto; /* Automatically center */
}


.swiper-pagination-bullet {
  background: #fff; /* Change dot color */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #007bff; /* Change active dot color */
}

.swiper-button-next, .swiper-button-prev {
  color: #007bff; /* Change button color */
  
}

.swiper-slide img {
  width: 404px;
  /* height: auto;  */
  margin: 0 auto; /* Automatically center */
  padding: 50px;
  object-fit: cover;
}

.image-gallery {
  display: flex;
  justify-content: center; /* Center the images horizontally */
  gap: 50px; /* Adjust the gap as needed */
  /* position: relative;  */
  margin-top: 20px; /* Spacing from the title and description */
  overflow: hidden; /* In case images go out of bounds, they will be clipped */
  margin-bottom: 20px;
}

.swiper-container{
  /* width:50%; */
  width: 50%; /* Full width to be responsive */
  height: auto;
  
}

.swiper-item {
  width: 200px;
  height: 350px;
}

.explore-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}



@media (max-width: 768px) {
  .section-title, .section-description {
    width: 90%; /* Adjust based on the screen size */
  }

  .swiper-slide img {
    width: 100%; /* Makes images fully responsive within their container */
    padding: 0; /* Removes padding on smaller screens */
  }
}