.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items:flex-start;
    
}
.about img {
    height: auto;
    max-width: 100%;
    width: 100vw;
}

.group178 {
    width: 1213px;
height: auto;
top: 516px;
left: 104px;
padding-left: 100px;
padding-right: 100px;
display: flex;
flex-direction: column;
align-items: center;
}

.group177 {
    width: 1441px;
height: auto;
top: 1064px;
left: 0px;
display: flex;
flex-direction: column;
align-items: center;
}

.upper {
    max-width: 1441px;
    width: 100vw;
background: linear-gradient(90deg, #071D3B 2.01%, #0E3A77 6.83%, #0E3A77 49.66%, #071D3B 67.46%, #071D3B 88.64%);

display: flex;
flex-direction: row;
align-items: center;
}

.rectangle81 {
    width: 1440px;
height: 521.61px;
top: 1064px;
left: 0px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
white-space: pre-line;
}

.strong {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
    text-align: left;
    color: #FFFFFF;
}

.collection {
    width: 714px;
height: auto;
top: 1228px;
left: 104px;
padding-left: 10%;
gap: 0px;
opacity: 0px;

font-family: Poppins;
font-size: 24px;
font-weight: 500;
line-height: 36px;
text-align: left;
color: #FFFFFF;
}

.model {
    width: 309px;
height: 523px;
top: 1064px;
left: 959px;
padding-left: 10%;

}

.group179 {
    width: 1440px;
height: auto;
top: 2247px;

display: flex;
flex-direction: column;
align-items: center;
}

.text {
    width: 449px;
height: 33.92px;
top: 2247px;
left: 494px;
font-family: Poppins;
font-size: 48px;
font-weight: 500;
line-height: 72px;
text-align: left;
background: #0E3A77;

}
@media (max-width: 768px) {
    .upper {
        flex-direction: column;
    }

  }